@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Montserrat&display=swap');

@font-face {
    font-family: Hermit;
    src: url("./Hermit-Light.otf") format("opentype");
}

body {
	font-family: 'Poppins' !important;
}

p {
	font-family: 'Montserrat' !important;
}

img, svg {
	max-width: none;
	display: inline
}

.image-reference {
	margin-left: 10px
}

footer, section, main {
	max-width: 100%;
	margin-right: 7%
}

.external-link-icon {
	display: none
}

#searchbox {
	overflow: hidden;
	border-radius: 50px;
}

em.property {
	display: none
}

#search-input {
	border-radius: 100px 0 0 100px;
	padding-left: 20px;
	font-family: 'Montserrat'
}

.stroke-current {
	stroke-width: 0.2px
}

header {
	padding-top: 14px;
	padding-bottom: 14px;
}

nav {
	padding-top: 2rem !important
}

.simple em {
	font-style: normal
}

.caption-text {
	font-family: 'Poppins' !important;
	font-size: 1rem
}

.simple {
	padding-left: 1.5rem
}

.admonition-title {
	font-family: 'Poppins' !important;
	font-size: 1rem
}

.sig-object {
	word-break: break-all;
}

code, .sig-object {
	font-family: 'Hermit' !important;
}

.sig-param {
	font-style: normal
}

input:focus, input:active {
	background: white !important;
	outline: none
}

#searchbox button {
	display: inherit;
	background: white;
	color: rgba(26,32,44,var(--tw-bg-opacity));
	border-radius: 0 50px 50px 0
}

#main-wrapper section {
	margin-right: 0
}

dd {
	padding-left: 0
}

nav[aria-label="breadcrumbs"] {
	margin-top: 2rem
}

a[aria-label="Back to homepage"]:hover {
	background: none
}

input[aria-labelledby="search-label"] {
	border-radius: 50px 0 0 50px;
	padding-left: 20px
}

button, a {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-tap-highlight-color: transparent;
}

button:focus, button:active {
	outline: none
}

@media (max-width: 950px) {
	table.docutils td {
		word-break: break-word;
		min-width: 200px
	}
}

@media (max-width: 768px) {
	nav[aria-label="breadcrumbs"] {
		margin-top: 1rem
	}
	footer, section, main {
		max-width: 100%
	}
	table.docutils tr {
		display: flex;
		flex-direction: column;
	}
	main {
		margin-right: 0
	}
}